<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rumble.rumble">
    <!-- 인터넷 오디오 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- SMS 권한 추가 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- GPS 권한 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- - 만보기 권한 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" /> <!-- 백그라운드 쓰레드 관련 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".CustomDialog"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PopUpActivity"
            android:exported="false"
            android:theme="@style/popupTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver
            android:name=".PedometerService$InnerCReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <!-- <action android:name="android.intent.action.ACTION_POWER_CONNECTED" /> -->
            </intent-filter>
        </receiver>

        <service
            android:name=".PedometerService"
            android:enabled="true"
            android:exported="true"
            android:process=":myservice1" />
        <service
            android:name=".FallService"
            android:enabled="true"
            android:exported="true"
            android:process=":myservice" />

        <activity
            android:name=".FloatActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddNumberActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".medicine.MedicineActivity" /> <!-- <activity android:name=".MainActivity" /> -->
        <activity android:name=".addmedicine.AddMedicineActivity" />
        <activity android:name=".alarm.ReminderActivity" />
        <activity android:name=".report.MonthlyReportActivity" />
        <activity
            android:name=".STTActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".FallActivity" />
    </application>

</manifest>